[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
User=ubuntu
Group=www-data

WorkingDirectory=/home/ubuntu/cmmi-assignment
ExecStart=/home/ubuntu/cmmi-assignment/venv/bin/celery multi start worker1 \
  -A cmmi_project --pidfile=/var/run/celery/%n.pid \
  --logfile=/var/log/celery/%n%I.log --loglevel=INFO --time-limit=300 --concurrency=8
ExecStop= /home/ubuntu/cmmi-assignment/venv/bin/celery multi stopwait worker1 \
  --pidfile=/var/run/celery/%n.pid
ExecReload=/home/ubuntu/cmmi-assignment/venv/bin/celery  multi restart worker1 \
  -A GO_GREEN --pidfile=/var/run/celery/%n.pid \
  --logfile=/var/log/celery/%n%I.log --loglevel=INFO --time-limit=300 --concurrency=8

[Install]
WantedBy=multi-user.target
